FROM_EMAIL=support@iamsaif.ai
FROM_NAME=Optional

# Email Subject
EMAIL_SUBJECT=Optional

RESEND_API_KEY=re_cCrQ9N8Q_NA6eQGjFL2fhNAdcwf5P7JLR
# Rate Limiting (emails per second)
RATE_LIMIT=2
MONGO_URI=mongodb://mongo:27017/
AI_API_KEY=sk-C16v1f8mmwAbSKaEfqi8vw
BaseURL=https://model.iamsaif.ai/v1
